.Banner {
  width: 80%;
  margin: auto;
  padding: 30px 50px;
  background-color: rgb(25, 148, 148);
  border-radius: 5px;
}

.BannerParent {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
}
